* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Landing Page */
#navbar {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-left: 20%;
  margin-top: 0.3%;
  top: 0;
  padding-top: 0%;
  position: fixed;
  z-index: 100;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  margin: 1%;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  gap: 121.99px;
}

.navbar-link {
  list-style-type: none;
}

.navlink {
  text-decoration: none;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 1px;
}

.Heading {
  font-size: 30px;
  margin-bottom: 6%;
  margin-left: 40%;
}

.sub-heading {
  font-size: 15px;
  padding: 2px;
  margin-bottom: 4%;
  margin-left: 35%;
}

.sub-title-pi > p {
  font-size: 10px;
  padding: 5px;
  margin-bottom: 3%;
  margin-left: 40%;
}

.glassmorphism {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
  width: 54.8%;
  margin-left: 20%;
  padding: 30px;
  height: 60vh;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2%;
  margin-right: 48%;
}

.sub-title-abt-me {
  font-size: 15px;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  justify-items: end;
  align-items: center;
}

.description {
  margin-top: 0.3%;
  font-size: 10px;
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: -80%;
}

.image img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 255px;
  height: 255px;
  margin-left: -70%;
  margin-top: 2%;
}

.img-container {
  display: flex;
}

.Details {
  display: flex;
  flex-direction: column;
}

.buttons {
  background: rgba(21, 2, 2, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 30px;
  transition: all 0.3s linear;
  width: 15%;
  margin-right: 1%;
  display: flex;
  flex-direction: row;
  height: 20%;
  margin-left: 40%;
}

.button-group {
  display: flex;
  justify-content: space-around;
}

i {
  display: flex;
}

/* Education and skills */
.glassmorphism-2 {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}

.education-container {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}

.skills-container {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}

.skills {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
}

.tech-skills {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}

/* Projects */
.projects {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}

.project-containers {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  /* padding-top: 5%; */
  width: 40%;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* height: 400px; */
  /* margin-left: -20%; */
}

/* Testimonials */
.Testimonial {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}

.card {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}

/* Contact */
.contact {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}
