* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c58c6d;
  font-family: Arial, Helvetica, sans-serif;
  color: #835134;
  padding: 0%;
  display: flex;
  justify-content: center;
  min-height: 85vh;
}

/* Landing Page */
#navbar {
  background-color: #cb9b7c;
  align-items: center;
  /* background: black; */
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid #492d1d;
  margin-top: 0.4%;
  top: 0;
  padding-top: 0%;
  position: fixed;
  z-index: 100;
  border: none;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  margin: 1%;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  gap: 72.99px;
  border: none;
}

.navbar-link {
  list-style-type: none;
}

.navlink {
  text-decoration: none;
  color: #835134;
}

.Heading {
  font-size: 30%;
  margin-bottom: 6%;
  margin-left: 40%;
}

.sub-heading {
  font-size: 15%;
  padding: 2%;
  margin-bottom: 4%;
  margin-left: 35%;
}

.sub-title-pi > p {
  font-size: 105%;
  padding: 1%;
  margin-bottom: 15.6%;
  margin-left: -129%;
  margin-top: 2%;
  color: #835134;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-home {
  background: #cb9b7c;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 44vw;
  width: 100%;
  max-height: 65vh;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
}

.card-top {
  display: flex;
  padding: 6.9%;
  width: 60vw;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  margin-top: -10.5%;
  background-color: #cb9b7c;
}
.card-bottom {
  display: flex;
  padding: 3.5%;
  width: 60vw;
  background: #d0a68a;
  box-shadow: 0 8px 32px 0 #492d1d;
  border-radius: 10px;
  margin-top: -5%;
}

.card-Heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  padding: 2%;
  margin-right: 30%;
  justify-content: space-between;
}

.sub-title-abt-me {
  font-size: 120%;
  padding-top: -20%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-left: -80%;
}

.description {
  margin-top: 0.5%;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  margin-left: -10%;
}

.card-Heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: -40%;
}

h1 {
  margin-right: -60%;
  padding-left: 21%;
  margin-top: -170%;
  margin-top: -10%;
}

h2 {
  margin-right: -50%;
  padding-left: 5%;
  padding-top: 5%;
  margin-top: 5%;
}

.card-top img {
  width: 300px;
  height: 300px;
  margin-bottom: -80px;
  /* padding: 3%; */
  /* overflow: hidden; */
}

.Details {
  display: flex;
  flex-direction: column;
  font-size: 20%;
}

.buttons {
  background: #bf825f;
  box-shadow: #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  padding: 10px 30px;
  transition: all 0.3s linear;
  width: 15%;
  margin-right: -7%;
  display: flex;
  flex-direction: row;
  height: 20%;
  margin-left: -100%;
  margin-top: 90%;
  border: none;
}

.button-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-left: 30%;
}

i {
  color: #492d1d;
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: -50%;
}

/* Education and skills */

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassmorphism-2 {
  background: #cb9b7c;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 100px;
  padding-top: 1%;
  border: none;
  width: 43.7vw;
  padding-top: 3px;
}

.education-container {
  background: #d0a68a;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 2%;
  padding-top: 2%;
  height: 20vh;
  width: 42vw;
  margin-right: 50%;
}

.edu {
  display: flex;
  justify-items: center;
  margin-top: -15%;
}

.skills-container {
  background: #d0a68a;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  width: 19vw;
  height: 15vh;
  margin-left: -121%;
}

.tech-skills {
  background: #d0a68a;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  width: 19vw;
  height: 17vh;
  margin-left: -112%;
  margin-bottom: 10%;
  margin-top: 10%;
}

.icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10%;
  margin-top: 2%;
}

.icon i {
  font-size: 90px;
  color: #835134;
}

/* Projects */

.projects {
  background: #cb9b7c;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  margin: 5%;
  width: 44vw;
}

.project-containers {
  background: #d0a68a;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 2%;
  /* padding-top: 5%; */
  width: 45%;
  padding: 1%;
  height: 50%;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 5%;
  /* height: 400px; */
  /* margin-left: -20%; */
}

.card-heading {
  margin-top: -10%;
  margin-right: 9;
}

.card-heading-py {
  margin-top: -10%;
  margin-right: 9;
  padding: -1%;
}

.card-buttons {
  display: flex;
}

.button {
  background: #bf825f;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s linear;
  width: 49%;
  margin-right: 1%;
  margin-top: 2%;
  height: 100%;
}

/* Testimonials */
.Testimonial {
  background: #cb9b7c;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
  width: 44vw;
}

.card {
  background: #d0a68a;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  padding: 20px;
  margin: 10px;
  height: 40vh;
}

.image-adam {
  width: 30%;
  height: 80%;
  margin-right: -20%;
}

.test-image {
  width: 30%;
  height: 80%;
  margin-right: -20%;
}

.image-nasar {
  width: 30%;
  height: 80%;
  margin-right: -20%;
}

.test-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10%;
  margin-left: 21%;
}

.test-name {
  display: flex;
  flex-direction: row;
  margin-left: -70%;
}

/* Contact */
.contact {
  background: #cb9b7c;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
  width: 44vw;
}

.button-con {
  color: #835134;
  border: 10px;
  height: 8vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #bf825f;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  margin-left: 30%;
  font-weight: normal;
}

.contact-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin: 5%;
  width: 30vw;
  border: none;
  background: #d0a68a;
  box-shadow: 0 8px 32px 0 #492d1d;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
}

.form-head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15%;
  font-size: 40px;
  font-weight: normal;
}

.button:hover {
  font-size: 1.1em;
  background: #dcbba7;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.buttons:hover {
  font-size: 1.1em;
  background: #dcbba7;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.button-con:hover {
  font-size: 1.1em;
  background: #dcbba7;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.card-buttons:hover {
  font-size: 1.1em;
  background: #dcbba7;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.footer {
  position: fixed;
  bottom: 3%;
  left: 5%;
  z-index: 100;
  color: #835134;
}

.footerp {
  position: fixed;
  bottom: 3%;
}
