* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 1px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* Landing Page */
#navbar {
  background: black;
  align-items: center;
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 0.4%;
  top: 0;
  padding-top: 0%;
  position: fixed;
  z-index: 100;
  border: none;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  margin: 1%;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  gap: 72.99px;
  border: none;
}

.navbar-link {
  list-style-type: none;
}

.navlink {
  text-decoration: none;
}

.Heading {
  font-size: 30px;
  margin-bottom: 6%;
  margin-left: 40%;
}

.sub-heading {
  font-size: 15px;
  padding: 2px;
  margin-bottom: 4%;
  margin-left: 35%;
}

.sub-title-pi > p {
  font-size: 10pxx;
  padding: 5px;
  margin-bottom: 15.6%;
  margin-left: -122%;
  margin-top: 0.5%;
  color: grey;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-home {
  background: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 44vw;
  width: 100%;
  max-height: 65vh;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 20px;
}

.card-top {
  display: flex;
  padding: 30px;
  width: 60vw;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  margin-top: -90px;
}
.card-bottom {
  display: flex;
  padding: 30px;
  width: 60vw;
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin-top: -5%;
}

.card-Heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  padding: 2%;
  margin-right: 30%;
  justify-content: space-between;
}

.sub-title-abt-me {
  font-size: 19px;
  padding-top: -20%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-left: -80%;
}

.description {
  margin-top: 0.5%;
  font-size: 10pxx;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  margin-left: -10%;
}

.card-Heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: -40%;
}

h1 {
  margin-right: -60%;
  padding-left: 250px;
  margin-top: -170px;
  margin-top: -10%;
}

h2 {
  margin-right: -50%;
  padding-left: 86px;
  padding-top: 50px;
  margin-top: 5%;
}

.card-top img {
  width: 300px;
  height: 300px;
  margin-bottom: -80px;
  padding: 20px;
  overflow: hidden;
}

.Details {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.buttons {
  background: rgba(21, 2, 2, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 10px 30px;
  transition: all 0.3s linear;
  width: 15%;
  margin-right: -7%;
  display: flex;
  flex-direction: row;
  height: 20%;
  margin-left: -100%;
  margin-top: 140px;
  border: none;
}

.button-group {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  justify-items: flex-end;
  margin-left: 35%;
}

i {
  display: flex;
}

/* Education and skills */

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glassmorphism-2 {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 100px;
  padding-top: 2%;
  border: none;
  width: 43.7vw;
}

.education-container {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 2%;
  padding-top: 2%;
  height: 20vh;
}

.edu {
  display: flex;
  justify-items: center;
  margin-top: -25%;
}

.skills-container {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  width: 19vw;
  height: 15vh;
  margin-left: -41%;
}

.tech-skills {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  width: 30vw;
  height: 17vh;
  margin-left: 30%;
  margin-bottom: 10%;
  margin-top: 10%;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10%;
}

.icon2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 40%;
  margin-bottom: 1%;
}

.icon i {
  font-size: 80px;
  color: blue;
}

.icon1 i {
  font-size: 80px;
  color: blue;
}
.icon2 i {
  font-size: 80px;
  color: blue;
}

/* Projects */

#projects {
}

.projects {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  margin: 5%;
  width: 44vw;
}

.project-containers {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 2%;
  /* padding-top: 5%; */
  width: 45%;
  padding: 10px;
  height: 50%;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2%;
  /* height: 400px; */
  /* margin-left: -20%; */
}

.card-heading {
  margin-top: -10%;
  margin-right: 9;
}

.card-heading-py {
  margin-top: -10%;
  margin-right: 9;
  padding: -1%;
}

.card-buttons {
  display: flex;
}

.button {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.3s linear;
  width: 49%;
  margin-right: 1%;
  margin-top: 2%;
  height: 100%;
}

/* Testimonials */
.Testimonial {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}

.card {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}

/* Contact */
.contact {
  background: black;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5%;
  padding-top: 5%;
}
