.testimonial {
  width: 90%;
  margin: 100px auto;
  max-width: 600px;
  position: relative;
  padding: 62px 15px;
  border: 1px solid #cb9b7c;
  border-top: 2px solid #a55425;
}

.testimonial .header {
  display: flex;
  top: -35%;
  left: 50%;
  background: #ffffff;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, 10%);
}

.testimonial .header img {
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
}
